name: kcptun

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Install deps
      run: apt install libc6-dev -y
      
    - name: Build kcptun-server
      run: go build -ldflags "-s -w -linkmode=external -extldflags -static -X main.VERSION=`date -u +%Y%m%d`" -o kcptun-server github.com/xtaci/kcptun/server 
      
    - name: Build kcptun-client
      run: go build -ldflags "-s -w -linkmode=external -extldflags -static -X main.VERSION=`date -u +%Y%m%d`" -o kcptun-client github.com/xtaci/kcptun/client

